body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #cafcd2;
  margin: 5px;
  position: relative;
}

#root {
  position: relative;
  margin: 0 auto;
  height: 100vh;
  width: 100%;
  padding: 2rem;
  text-align: center;
}

.app {
  color: rgb(49, 103, 238);
  position: relative;
  height: 100%;
}

/* Positioning and styling header */
header {
  background-color: rgb(0, 138, 83);
  color: rgb(239, 254, 184);
  border: 2px solid rgb(0, 87, 52);
  position: relative;
  box-sizing: border-box;
  width: 30rem;
  margin: 0 auto;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
}

/* Styling the main header */
header h1 {
  font-size: 250%;
}

/* Positioning the navigation buttons beneath the header */
.app-nav{
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* Styling the navigation buttons beneath the header */
.createExerciseButton, .homeButton {
  border: 1px solid;
  padding: 6px;
  background-color: rgb(255, 228, 26);
  border-radius: 7px;
}

/* Positioning the table and table header of the HomePage */
h2 {
  position: relative;
  margin-top: 40px;
  margin-bottom: 7px;
}

/* Rounding the corners of the ExerciseCollection table using a wrapper */
.table-wrapper {
  border-radius: 10px;
  overflow: hidden;
  display: inline-block;
  background: rgb(0, 71, 252);
  margin-bottom: 70px;
}

/* Erasing gaps between table cell borders */
.collection-container {
  border-collapse: collapse;
  background: transparent;  /* Background is handled by wrapper */
}

.collection-container tr th:first-child {
  border-top-left-radius: 10px;
}
.collection-container tr th:last-child {
  border-top-right-radius: 10px;
}
.collection-container tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}
.collection-container tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

/* Styling header table cells */
tr th {
  border: 1.2px solid;
  border-color: rgb(0, 71, 252);
  background-color: rgb(139, 190, 248);
  padding: 3px;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 800;
}

/* Styling data table cells */
tr td {
  border: 1px solid;
  border-color: rgb(127, 168, 234);
  color: rgb(103, 80, 250);
  background-color: rgb(255, 255, 255);
  padding: 7px;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 600;
}

/* Styling edit and delete React buttons */
.editButton, .deleteButton {
  padding-bottom: 1.7px;
}

/* Positioning the footer */
footer {
  position: relative;
  text-align: left;
  margin-left: 15px;
  padding-bottom: 40px;
}

/* Positioning the page content of the CreateExercisePage and EditExercisePage */
.pageContent {
  position: relative;
  display: inline-block;
  margin-bottom: 70px;
}

.pageContent h1 {
  margin-top: 25px;
  margin-bottom: 7px;
}

input {
  font-family: Arial, Helvetica, sans-serif;
}

button {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Styling links */
a {
  color: rgb(120, 0, 0);
  margin-left: 5px;
}
